@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans'), url('ProductSans-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Product Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #007991 0%, #60ccac 100%);
}

